

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #f5bebe;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(219, 22, 190, 0.616);
}

.card h3 {
    margin-bottom: 5px;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #666;
}

/* Amazon.module.css */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}



.buttonGroup {
    margin-top: 20px;
    display: flex;
    justify-items: center;
}

.buttonGroup button {
    margin: 50px;
    padding: 10px 20px;
    background-color: #9c0fb8;
    color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
}

.buttonGroup button:hover {
    background-color: blueviolet;
}

.buttonGroup button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
